* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: pink;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.head-menu {
    text-align: center;
    padding: 35px 0;
}

.head-menu-link {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    color: blueviolet;
    text-decoration: none;
    margin: 0 30px;
}

.main-img {
    width: 100%;
}

.main-content {
    text-align: center;
    padding: 30px 0;
}

.main-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
}

.main-text {
    font-size: 16px;
    margin: 30px 0;
}

.main-push {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: white;
    background-color: blueviolet;
    padding: 15px 30px;
    border: none;
}

.copyright-wrap {
    text-align: right;
    margin: 50px 0;
}

.copyright {
    font-weight: bold;
}