.global {
    background-color: #F2F2F2;
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #313131;

}

.navbar-logo {
    padding-left: 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.navbar-img {
    background-color: #171a1c;
    margin-right: 20px;
}

.navbar-title {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
}

.navbar-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-item {
    margin: 0 12px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
}

.navbar-item:hover {
    color: #14B9D5;
}

.navbar-search {
    padding: 25px;
    background-color: #000000;;
    color: #fff;
    font-size: 17px;
    align-self: stretch;
    width: 70px;
    height: 70px;
    box-sizing: border-box;
}

.head-zone {
    height: 374px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url("../images/header-bg.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.head-foreground {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.head-title {
    margin: 20px 0;
    font-size: 27px;
    text-transform: uppercase;
    color: #fff;
}

.head-wrapper {
    margin: 20px;
}

.click {
    width: 170px;
    height: 55px;
    margin: 4px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    color: #fff;
    text-transform: capitalize;
    font-size: 18px;
    text-align: center;
    line-height: 45px;
    vertical-align: middle;
    cursor: pointer;
}

.subscribe {
    background-color: #89ca62;
}

.best {
    background-color: #14b9d5;
}

.popular-title {
    margin: 50px;
    font-size: 27px;
    font-weight: bold;
    color: #18b4cf;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.post-popular {
    background-color: #f2f2f2;
    max-width: 1200px;
    max-height: 1030px;
    margin: 0 auto 70px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.popular-item-link {
    text-decoration: none;
    margin: 15px;
    flex: 0 0 calc(100% / 3 - 20px);
    background-color: #fff;
}

.popular-item-img {
    width: 370px;
}

.popular-item-caption {
    padding: 20px 5px;
    font-size: 18px;
    font-weight: bold;
    color: #353a3d;
    text-align: center;
}

.our-clients {
    background-image: url("../images/parallax-bg.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: grid;
    padding: 110px 0 190px;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
}

.clients-title {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    margin-bottom: 185px;
}

.clients-title::after {
    content: "";
    border-bottom: 3px solid #18B4CF;
    width: 60px;
    margin: 50px 0;
    position: absolute;
    top: 85px;
    right: 200px;
}

.clients-gallery {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 70px;
    align-items: center;
}

.gallery-item {
    grid-template-columns: 1fr;
}

.top-rated {
    padding-top: 40px;
    background-color: #f2f2f2;
}

.rated-title {
    display: grid;
    grid-auto-rows: min-content;
    margin: 20px;
    font-size: 27px;
    font-weight: bold;
    color: #18b4cf;
    text-transform: uppercase;
    text-align: center;
}

.rated-gallery {
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc((100vw / 7) - 5px), 1fr));
    grid-gap: 0;
}

.gallery-item {
    width: 100%;
}

.hot-news {
    padding: 40px 0 70px;
    background-color: #fff;
}

.news-title {
    margin: 20px;
    font-size: 27px;
    font-weight: bold;
    color: #18b4cf;
    text-transform: uppercase;
    text-align: center;
}

.news-gallery {
    padding-top: 30px;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-rows: 260px 1fr 1fr 260px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px 40px;
}

.post-1,
.post-8 {
    grid-column: span 3;
    display: grid;
    grid-template-columns: 5fr 4fr;
    justify-self: end;
}

.post-2,
.post-7 {
    grid-column: span 1;
    display: grid;
    grid-template-rows: 4fr 1fr;
    align-items: center;
}

.post-3,
.post-4,
.post-5,
.post-6 {
    grid-column: span 2;
    display: grid;
    grid-template-rows: 12fr 2fr 5fr;
    align-items: center;
    justify-items: stretch;
}

.news-item {
    background-color: #f9f7f7;
}

.news-item-img {
    place-self: start stretch;
    width: 100%;
}

.article-title {
    margin: 5px 27px 0 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    color: rgb(53, 58, 61);
}

.article-text {
    align-self: start;
    margin: 15px 27px 20px 20px;
    font-size: 14px;
    font-weight: 600;
    text-align: right;
    color: rgb(91, 100, 105);
    line-height: initial;
}

.foot-zone {
    background-color: #1d2124;
}

.foot-wrapper {
    height: 80px;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
}

.foot-copyright {
    color: #86898a;
    font-size: 13px;
}