.wrapper-document {
    min-width: 1160px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.spinner {
    position: fixed;
    font-size: 50px;
    color: #18CFAB;
}

.wrapper-content {
    height: 100%;
    margin: 0 380px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.head-zone {
    height: 1012px;
    background-image: url("../images/sections_background/section-1.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.navbar {
    background-color: rgba(146,145,140,.6);
}

.navbar-content {
    height: 120px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    display: flex;
    line-height: 64px;
    text-align: center;
}

.navbar-image {
    margin-right: 8px;
    width: 58px;
    height: 67px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background-color: #18CFAB;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
}

.link-menu {
    text-decoration: none;
    color: #fff;
}

.navbar-name {
    font-size: 32px;
}

.navbar-first {
    color: #fff;
    font-weight: 400;
}

.navbar-last {
    color: #18CFAB;
    font-weight: bold;
}

.navbar-menu {
    list-style: none;
    padding-left: 0;
    display: flex;
}

.navbar-item {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 21px;
    color: #bbb;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar-item:hover {
    color: #18CFAB;
}

.navbar-item:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 120px;
    position: absolute;
    border-bottom: 2px solid #18CFAB;
}

.header-tagline {
    padding: 20px;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
}

.header-name {
    color: #fff;
}

.header-desc {
    color: #18CFAB;
}

.header-slogan {
    padding: 20px;
    color: #fff;
    font-size: 79px;
    font-weight: bold;
    text-transform: uppercase;
}

.header-text {
    padding: 15px;
    color: #d4d4d4;
    font-size: 34px;
}

.header-btns {
    margin-top: 105px;
    padding: 20px;
}

.btn {
    width: 167px;
    height: 62px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    box-shadow: 0 -4px #fff;
}

.btn-azure {
    background-color: #18CFAB;
}

.btn-azure:hover {
    background-color: #1abb96;
}

.btn-blue {
    background-color: #00CBF6;
}

.btn-blue:hover {
    background-color: #00bce2;
}

.sec-benefits {
    display: flex;
}

.benefit {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 375px;
    border-radius: 0;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.benefit:nth-child(odd) {
    background-color: #1C2A33;
    border-top: 8px solid #18CFAB;
    color: #18CFAB;
}

.benefit:nth-child(even) {
    background-color: #18CFAB;
    border-top: 8px solid #fff;
    color: #fff;
}

.benefit-icon {
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    margin-bottom: 45px;
}

.sec-services {
    background-color: #F8FCFE;
}

.sec-header {
    margin: 70px 0 0;
    padding: 10px;
    color: #4E4E4E;
    font-size: 36px;
    text-transform: capitalize;
}

.sec-header::after {
    content: "";
    display: block;
    margin: 27px auto;
    width: 77px;
    height: 2px;
    background-color: #18CFAB;
    box-shadow: 10px 5px #18CFAB;
}

.tabs-services {
    width: 100%;
    margin: 40px 0 24px;
    list-style: none;
    padding-left: 0;
    display: flex;
}

.services-title {
    width: 190px;
    padding: 20px 0;
    border: 1px solid #EBEBEB;
    background-color: #F8FCFE;
    color: #717171;
    font-size: 16px;
    cursor: pointer;
    flex-grow: 1;
}

.services-title.active {
    color: #FFF;
    position: relative;
    border-color: #18CFAB;
    background-color: #18CFAB ;
}

.services-title:hover {
    position: relative;
    border-color: #10C0A0;
}

.services-title.active::after {
    content: "";
    position: absolute;
    left: calc(50% - 12px);
    top: calc(100% + 1px);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 14px 12px 0 12px;
    border-color: #18CFAB transparent transparent transparent;
}

.services-wrapper{
    display: none;
}

.services-wrapper.active {
    margin-bottom: 100px;
    display: flex;
}

.services-image {
    width: 190px;
    height: 190px;
    margin-right: 20px;
    object-fit: contain;
}

.services-text {
    line-height: 1.5em;
    font-size: 14px;
    text-align: justify;
}

.sec-ready-buy {
    background-image: url(../images/sections_background/section-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #1C2A33;
    background-blend-mode: multiply;
}

.ready-buy-tagline {
    margin-top: 100px;
    padding: 20px 0;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: #18CFAB;
}

.ready-buy-text {
    padding: 15px 0;
    font-size: 16px;
    color: #D8D8D8;
}

.ready-buy-btn {
    margin-top: 60px;
    margin-bottom: 100px;
}

.sec-works {
    background-color: #E9EDEF;
    padding-bottom: 100px;
}

.tabs-work-filter {
    margin: 40px 0 70px;
    list-style: none;
    padding-left: 0;
    display: flex;
}

.tab-work-filter-title {
    padding: 20px;
    border: 1px solid #DADADA;
    color: #717171;
    font-size: 16px;
    cursor: pointer;
    flex-grow: 1;
}

.tab-work-filter-title:hover,
.tab-work-filter-title.active {
    position: relative;
    border: 1px solid #18CFAB;
}

.tab-work-filter-title.active {
    color: #18CFAB;
}

.tab-work-filter-title:hover::after,
.tab-work-filter-title.active::after {
    content: "";
    position: absolute;
    left: -1px;
    top: -4px;
    width: calc(100% + 2px);
    height: 3px;
}

.works-gallery,
.news-gallery {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 70px;
}

.work-gallery-item {
    width: 283px;
    position: relative;
}

.work-gallery-item-image {
    width: 100%;
    height: 100%;
}

.text-load {
    margin-left: 16px;
    font-size: 14px;
}

.work-gallery-item-desc {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #F8FCFE;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border-top: 4px solid #18CFAB;
}

.work-gallery-item-btns {
    margin-bottom: 20px;
    display: flex;
}

.work-gallery-desc-btn {
    margin: 0 2px;
    width: 40px;
    height: 40px;
    border: 1px solid #18CFAB;
    border-radius: 100%;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.work-gallery-desc-btn:hover {
    border: 2px solid #009F7B;
}

.work-gallery-desc-btn.btn-link {
    background-color: #F8FCFE;
    color: #18CFAB;
}

.work-gallery-desc-btn.btn-search {
    background-color: #18CFAB;
    color: #FFF;
}

.work-gallery-desc-title {
    margin: 14px 0;
    font-size: 15px;
    font-weight: bold;
    color: #18CFAB;
    text-transform: uppercase;
}

.work-gallery-desc-type {
    font-size: 12px;
    color: #8A8A8A;
    text-transform: capitalize;
}

.hide {
    display: none;
}

.sec-news {
    background-color: #FFF;
}

.news-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 0;
}

.news-item {
    margin-bottom: 44px;
    width: 265px;
    height: 281px;
    border: 1px solid #ECECEC;
    background-color: #F8FCFE;
    text-align: left;
    position: relative;
}

.news-link {
    text-decoration: none;
}

.news-image {
    width: 265px;
}

.news-title {
    padding: 14px;
    font-size: 18px;
    font-weight: bold;
    color: #717171;
    text-transform: capitalize;
}

.news-details {
    padding-left: 16px;
    font-size: 14px;
    color: #777777;
}

.comment-text {
    float: right;
    padding-right: 55px;
}

.comment-text::before {
    content: "";
    border-left: 1px solid #777777;
    padding-left: 20px;
}

.news-date {
    position: absolute;
    top: 0;
    right: 0;
    width: 69px;
    height: 67px;
    padding: 12px;
    background-color: #203E38;
    color: #FFF;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.news-item:hover .news-title {
    color: #18CFAB;
}

.news-item:hover .news-date {
    background-color: #18CFAB;
}

.sec-client-feedback {
    height: 852px;
    background-color: #2e4a5b;
    position: relative;
}

.sec-client-feedback-layer2{
    width: 100%;
    height: 100%;
    background-image: url(../images/sections_background/section-3.jpg);
    background-position: bottom;
    background-size: cover;
    opacity: .8;
    position: absolute;
    left: 0;
    top: 0;
}

.sec-client-feedback .sec-header {
    color: #FFF;
}

.client-feedback-detail-list {
    width: 1160px;
}

.client-feedback-detail-item:focus {
    outline: none;
}

.client-feedback-detail-item,
.client-feedback-detail-item-text,
.client-feedback-detail-author {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    color: #BBBBBB;
    font-size: 16px;
    line-height: 2em;
    text-align: center;
}

.client-feedback-detail-item {
    margin: 40px 0;
}

.client-feedback-detail-quote {
    width: 45px;
    height: 31px;
}

.client-feedback-detail-text {
    padding: 44px 0;
}

.client-feedback-detail-author-name {
    font-weight: bold;
    text-transform: uppercase;
    color: #18CFAB;
}

.client-feedback-detail-item-image {
    margin-top: 25px;
    width: 165px;
    height: 164px;
    position: relative;
}

.client-feedback-foto-back {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 100%;
    background-color: #1FDAB5;
    opacity: 0.2;
}

.client-feedback-detail-image {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 144px;
    height: 143px;
    border: 10px solid darkslategrey;
    border-radius: 100%;
    object-fit: cover;
}

.client-feedback-slider {
    width: 367px;
}

.client-feedback-slider-item {
    width: 70px;
    height: 80px;
    position: relative;
}

.client-feedback-slider-item-foto {
    margin-top: 10px;
    width: 70px;
    height: 70px;
    position: relative;
    transition: transform 500ms;
    cursor: pointer;
}

.client-feedback-slider-item.slick-current .client-feedback-slider-item-foto,
.client-feedback-slider-item-foto:hover {
    transform: translate3d(0, -10px, 0);
}

.client-feedback-slider-foto-back {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 100%;
    background-color: #1FDAB5;
    opacity: 0.2;
}

.client-feedback-slider-foto {
    position: absolute;
    left: 5px;
    top: 5px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    object-fit: cover;
}

.client-feedback-slider-item.slick-current .client-feedback-slider-foto {
    border: 1px solid #18CFAB;
}

.slider-prev-arrow,
.slider-next-arrow {
    font-size: 17px;
    position: absolute;
    top: 50%;
    display: block;
    padding: 15px;
    transform: translate(0, -50%);
    cursor: pointer;
    color: #BBBBBB;
    border: 1px solid #BBBBBB;
    background: transparent;
}

.slider-prev-arrow:hover,
.slider-prev-arrow:focus,
.slider-next-arrow:hover,
.slider-next-arrow:focus {
    color: white;
    border: none;
    background: #18CFAB;
}

.slider-prev-arrow {
    left: -60px;
}

.slider-next-arrow {
    right: -60px;
}

.foot-zone {
    background-color: #22353F;
}

.foot-copyright {
    padding: 48px;
    text-align: center;
    color: #AEAEAE;
    font-size: 14px;
}

.foot-copyright-name {
    color: #18CFAB;
}