.container {
    width: 1280px;
    margin: 0 auto;
    font-family: sans-serif;
}

.header-zone {
    margin-top: 30px;
    margin-bottom: 30px;
}

.company-name {
    display: inline-block;
    text-decoration: none;
    color: #000000;
    font-size: 70px;
    margin-bottom: 30px;
}

.blue-text {
    color: #4bcaff;
}

.head-menu {
    background-color: #35444F;
    height: 72px;
    text-align: center;
    margin-top: 10px;
}

.head-menu-link {
    display: inline-block;
    font-size: 25px;
    color: white;
    text-decoration: none;
    padding: 22px 40px;
}

.head-menu-link:hover {
    background-color: #222F3A;
    border-right: 1px solid white;
    border-left: 1px solid white;
}

.side-menu {
    display: inline-block;
    width: 345px;
    border: 1px solid black;
}

.side-menu-item {
    padding: 28px 44px;
}

.side-menu-item:hover {
    background: #DBDBDB;
    padding-left: 64px;
}

.side-menu-link {
    display: inline-block;
    vertical-align: top;
    color: #495863;
    font-size: 25px;
    text-decoration: none;
}

.main-content {
    display: inline-block;
    vertical-align: top;
    width: 885px;
    margin-left: 43px;
}

.main-img-wrapper {
    padding: 74px 282px;
    border: 1px solid black;
}

.main-image {
    width: 100%;
    transition: 1s;
}

.main-image:hover {
    transform: scale(1.2);
}

.main-text {
    font-size: 18px;
    margin: 20px 0;
    line-height: 1.5;
}

.foot-zone {
    background-color: rgba(99, 105, 110, 0.48);
    padding: 20px 25px;
}

.foot-list {
    display: inline-block;
}

.foot-menu-link {
    display: inline-block;
    color:  #0C1927;
    font-size: 25px;
    text-decoration: none;
    margin: 0 15px;
}

.foot-menu-link:hover {
    display: inline-block;
    font-size: 25px;
    margin: 0 15px;
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
    padding-bottom: 8px;
}

.copyright {
    font-size: 23px;
    display: inline-block;
    margin-left: 240px;
}