.star {
    height: 100vh;
    display: flex;
    background: #000;
    overflow: hidden;
    color: #feda4a;
    font-family: sans-serif;
    font-size: 500%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    perspective: 250px;
    text-align: justify;
}

.star-wars {
    position: relative;
    transform-origin: 50% 100%;
    animation: star-wars 30s linear;
    animation-iteration-count: infinite;
}

h1 {
    font-size: 90%;
    text-align: center;
}

@keyframes star-wars {
    0% {
        top: 0;
        transform: rotateX(35deg)  translateZ(0);
    }
    100% {
        top: -3000px;
        transform: rotateX(45deg) translateZ(-2200px);
    }
}