.page-bg {
    height: 100vh;
    overflow-y: scroll;
    background: url("../img/background.png") no-repeat;
    background-size: cover;
}

.container {
    width: 1030px;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 18px;
    text-align: center;
}

.header-zone {
    margin-top: 50px;
    margin-bottom: 27px;
}

.company {
    float: left;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 6px;
}

.company-image {
    float: left;
    width: 53px;
}

.company-text-bigger {
    float: left;
    font-size: 29px;
    margin-left: 8px;
}

.company-text-smaller {
    margin-top: 5px;
    display: block;
    font-size: 18px;
}

.company:hover .company-image{
    content: url("../img/logo_orange.png");
}

.company:hover .company-text-bigger {
    color:#F26522;
}

.contacts {
    float:right;
    text-align: right;
}

.contacts-item {
    cursor: pointer;
}

.contacts-item:hover {
    color:#F26522;
}

.contacts-item:first-child {
    display: block;
    margin-bottom: 8px;
}

.tour-item {
    float: left;
    width: 300px;
    margin-right: 65px;
    margin-bottom: 80px;
    color: white;
    text-decoration: none;
}

.shoping-tours {
    background-image: url(../img/layer1.png);
    background-size: cover;
    padding-top: 157px;
    overflow: hidden;
}

.sightseeing-tours {
    background-image: url(../img/layer2.png);
    background-size: cover;
    padding-top: 157px;
    overflow: hidden;
}

.food-tours {
    background-image: url(../img/layer3.png);
    background-size: cover;
    padding-top: 157px;
    overflow: hidden;
}

.bars-nightlife {
    background-image: url(../img/layer4.png);
    background-size: cover;
    padding-top: 157px;
    overflow: hidden;
}

.art-architecture {
    background-image: url(../img/layer5.png);
    background-size: cover;
    padding-top: 157px;
    overflow: hidden;
}

.walking-tours {
    background-image: url(../img/layer6.png);
    background-size: cover;
    padding-top: 157px;
    overflow: hidden;
}

.tour-item-details {
    background-color: #F26522;
    padding: 8px;
    opacity: 0;
}

.tour-item-price {
    float: left;
    font-size: 20px;
    margin-left: 15px;

}

.tour-item-price::before {
    content: "from";
    display: block;
    font-size: 10px;
    margin-bottom: 5px;
}

.tour-item-link {
    float: right;
    margin-top: 23px;
    font-size: 14px;
}

.tour-item-link::after{
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    border: 1px solid white;
    border-bottom-color: transparent;
    border-left-color: transparent;
    transform: translate(1px, 1px) rotate(45deg);
    margin-left: 10px;
    margin-bottom: 2px;
}

.tour-item-signature {
    margin-top: 17px;
}

.tour-item:nth-child(3n) {
    margin-right: 0;
}

.tour-item:hover .tour-item-details {
    opacity: 1;
}

.tour-item:hover .tour-item-signature {
    color:#F26522;
}

.footer-zone {
    padding: 20px 0;
}

.copyright {
    font-size: 12px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}