.wrapper {
    height: 100vh;
    overflow-y: scroll;
    background-image: url("../img/fon.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    text-align: center;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.head-zone {
    padding: 20px 0;
    background: rgba(0, 0, 0, 0.4);
}

.logo {
    float: left;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    color: white;
}

.logo:hover {
    color: #3CB878;
}

.nav-bar {
    float: right;
    color: white;
    text-decoration: none;
}

.nav-bar-text {
    display: inline-block;
    vertical-align: middle;
}

.nav-bar-text::before {
    content: "";
    border-right: 1px solid white;
    opacity: 0.5;
    height: 19px;
    margin: 0 28px 0 0;
}

.icon {
    display: inline-block;
    vertical-align: middle;
    background: url("../img/sprite.png") no-repeat;
    width: 20px;
    height: 20px;
    margin-right: 28px;
    cursor: pointer;
}

.calendar {
    background-position: -20px -80px; width: 20px; height: 20px;
}

.calendar:hover {
    background-position: -20px -200px; width: 19px; height: 19px;
}

.forum {
    background-position: -20px -40px; width: 28px; height: 20px;
}

.forum:hover {
    background-position: -20px -0px; width: 28px; height: 20px;
}

.journey {
    background-position: -20px -160px; width: 20px; height: 20px;
}

.journey:hover {
    background-position: -20px -120px; width: 20px; height: 20px;
}

.log-in {
    color: white;
    text-decoration: none;
}

.sign-up {
    color: white;
    text-decoration: none;
}

.log-in:hover {
    color: #3CB878;
}

.sign-up:hover {
    color: #3CB878;
}

.questionnaire {
    transform: translateY(calc((100vh - 660px) / 2));
    margin: 0 auto;
    width: 324px;
    background-color: white;
    border-radius: 5px;
    padding: 30px 60px;
}

.questionnaire-sign-up {
    position: relative;
    float: left;
    color: #434343;
    font-size: 20px;
}

.questionnaire-sign-up::before {
    position: absolute;
    content: "";
    right: 111px;
    border: #3CB878;
    height: 18px;
    width: 18px;
    background-color: #3CB878;
}

.questionnaire-log-in {
    float: right;
    color: #3CB878;
    cursor: pointer;
}

.button-fb {
    float: left;
    margin-top: 18px;
    width: 160px;
    height: 48px;
    background-color: #305DB8;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.fb-icon {
    margin-top: 12px;
    display: inline-block;
}

.fb-text {
    margin-left: 10px;
    display: inline-block;
    vertical-align: text-top;
}

.fb-text::before {
    content: "";
    border-right: 1px solid #2B0D09;
    opacity: 0.1;
    height: 28px;
    margin-right: 27px;
}

.button-google {
    float: right;
    margin-top: 18px;
    width: 160px;
    height: 48px;
    background-color: #DF4A32;
    font-size: 16px;
    color: white;
}

.google-icon {
    margin-top: 14px;
    display: inline-block;
}

.google-text {
    margin-left: 10px;
    display: inline-block;
    vertical-align: text-top;
}

.google-text::before {
    content: "";
    border-right: 1px solid #2B0D09;
    opacity: 0.1;
    height: 28px;
    margin-right: 27px;
}

.divider-style {
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 24px;
    color: #848484;
}

.divider-style::before {
    content: "";
    display: inline-block;
    border: 1px solid #BEBEBE;
    opacity: 0.3;
    width: 132px;
    margin-bottom: 2px;
    margin-right: 20px;
}

.divider-style::after {
    content: "";
    display: inline-block;
    border: 1px solid #BEBEBE;
    opacity: 0.3;
    width: 132px;
    margin-bottom: 2px;
    margin-left: 20px;
}

.input-item {
    box-sizing: border-box;
    margin-top: 10px;
    padding: 15px 20px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    width: 100%;
}

.input-item::placeholder{
    color: #BEBEBE;
}

.input-item:focus {
    outline: none;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
}

.check-item {
    display: inline-block;
    margin-top: 18px;
    margin-bottom: 23px;
    text-align: left;
    width: 100%;
    cursor: pointer;
}

.check-text {
    display: inline-block;
    margin-left: 5px;
    color: #434343;
}

.terms {
    color: #3CB878;
    text-decoration: none;
}

.create-account {
    width: 100%;
    padding: 15px 0;
    border: none;
    margin-top: 11px;
    background: #3CB878;
    border-radius: 4px;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}