.page-bg {
    background: #3A4965;
    padding: 20px;
}

.container {
    width: 1160px;
    margin: 0 auto;
    font-family: "Arimo", sans-serif;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #484848;
    background-color: #F2F2F2;
}

.table-row {
    height: 70px;
    vertical-align: middle;
    background-color: white;
}

.column-style {
    width: 280px;
    font-size: 24px;
    font-weight: bold;
}

.cell-head {
    background-color: #FAFAFA;
    border-right: darkgray 1px solid;
}

.usual-cell {
    border-right: darkgray 1px solid;
}

.chartreuse-cell {
    background-color: #89C331;
    color: white;
}

.red-cell {
    background-color: #F04A56;
    color: white;
}

.darkgreen-cell {
    background-color: #20807C;
    color: white;
}

tr:nth-child(2n) {
    background: #E3E3E3;
}

.smaller-text {
    display: block;
    font-size: 18px;
    bottom: 5px;
}

.bigger-text {
    font-size: 30px;
}

.price {
    position: relative;
    font-family: sans-serif;
    font-size: 48px;
    font-weight: bold;
    padding-right: 60px;
}

.price-coins {
    position: absolute;
    top: 0;
    font-size: 18px;
}

.price-plan {
    position: absolute;
    top: 18px;
    font-size: 14px;
}

.fas {
    font-size: 24px;
    color: #848484;
    vertical-align: middle;
    padding-right: 5px;
}

.dark-click {
    background: #484848;
    color: #fff;
    padding: 12px;
    width: 195px;
    text-transform: uppercase;
    border-radius: 5px;
    border-top: 1px solid #484848;
    border-left: 1px solid #484848;
    border-right: 1px solid #484848;
    border-bottom: 10px solid #404040;
}

.dark-click:hover {
    font-size: 18px;
}

.chartreuse-click {
    background: #89C331;
    color: #fff;
    padding: 12px;
    width: 195px;
    text-transform: uppercase;
    border-radius: 5px;
    border-top: 1px solid #89C331;
    border-left: 1px solid #89C331;
    border-right: 1px solid #89C331;
    border-bottom: 10px solid #79B027;
}

.chartreuse-click:hover {
    font-size: 18px;
}

.red-click {
    background: #F04A56;
    color: #fff;
    padding: 12px;
    width: 195px;
    text-transform: uppercase;
    border-radius: 5px;
    border-top: 1px solid #F04A56;
    border-left: 1px solid #F04A56;
    border-right: 1px solid #F04A56;
    border-bottom: 10px solid #DF3A46;
}

.red-click:hover {
    font-size: 18px;
}

.darkgreen-click {
    background: #20807C;
    color: #fff;
    padding: 12px;
    width: 195px;
    text-transform: uppercase;
    border-radius: 5px;
    border-top: 1px solid #20807C;
    border-left: 1px solid #20807C;
    border-right: 1px solid #20807C;
    border-bottom: 10px solid #16736F;
}

.darkgreen-click:hover {
    font-size: 18px;
}